<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>165177338800-nf1iqfk815stam5fipgegcn0vnj7oak6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.165177338800-nf1iqfk815stam5fipgegcn0vnj7oak6</string>
	<key>API_KEY</key>
	<string>AIzaSyB1RinDJg9LaP8F6J6d50tZcL6Q1H7CgY0</string>
	<key>GCM_SENDER_ID</key>
	<string>165177338800</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rila.studio.rila</string>
	<key>PROJECT_ID</key>
	<string>rila-studios</string>
	<key>STORAGE_BUCKET</key>
	<string>rila-studios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:165177338800:ios:54e7df46fe18679879c475</string>
</dict>
</plist>